  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    padding: 15px;
    border-bottom: 3px solid pink;
    background-color: rgb(222, 207, 217);
    position: fixed;
    top: 0;
    width: 100%;
    font: bold 16px Georgia, serif;

  }
  header :hover {
    cursor: pointer;
    background-color: rgb(181, 28, 102);
  }
  .heading {
    margin: 0px 6px 0px 6px;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
  main {
    /* height: calc(100vh - 70px); */
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    /* background-color: #ede6ed; */
  }
  .info-section_LTR ,.info-section_RTL {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto 0px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid pink;
    width: 700px;
    font: 14px/22px Georgia, serif;
  }
  .info-section_RTL {
    flex-direction: row-reverse;
  }

  .extendText{
    display: flex;
    justify-content: flex-start;

  }
  img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 7px;
  }
  .Pic{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 40%;
    padding: 0;
    /* background-origin: content-box;
    background-image: url(./steve\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }
  .Pic :hover{
    transition: all 1.3s;
    transform: scale(1.85);
  }
  .section_header_LTR ,.section_header_RTL{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    padding-top: 15px;
  }
  .section_header_RTL {
    align-items: flex-end;
    padding-left: 20px;
  }
  h1{
    display: flex;
    justify-content: center;
    text-decoration: underline 2px solid black;

  }
  p { 
    max-width: 345px;
  }
  span {
    font: bold 16px Georgia, serif;
  }
  .Topics{
    padding: 0 0 10px 80px;
    display: flex;
    align-self: flex-start;
  }
  .R_Text{
    justify-content: flex-end;
    padding-bottom: 0px;
  }
  .extendText_RTL{
    display: flex;
    flex-direction: row;
  }





 