*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
  }
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  .heading {
    margin: 0px 6px 0px 6px;
  }

  main {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
  }
  .info-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    height: fit-content;
    border-bottom: 2px solid pink;
    border-top: 2px solid pink;
    max-width: 700px;
    font: 14px/22px Georgia, serif;
  }

  .extendText{
    display: flex;
    justify-content: flex-start;

  }
  img {
    max-width: 400px;
    max-height: 350px;
    padding-right: 25px;
  }
  .RightDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    max-width: 40%;
    /* background-origin: content-box;
    background-image: url(./steve\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }
  .section_header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    padding: 15px 0px;
  }

  h1{
    display: flex;
    justify-content: center;
    text-decoration: underline 2px solid black;

  }
  p { 
    max-width: 345px;
  }
  span {
    font: bold 16px Georgia, serif;
  }
  .Early_Life{
    padding: 0 35px 10px 0;
  }





 