body{
  background-color: rgb(72, 72, 114);
}
.main{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 400px;
  background-color: darkolivegreen;

}