form {
    background-color: grey;
    height: 300px;
    width: 300px;
}

.check input:checked{
    font-size: 2em;
    color: red;
}
input[type="checkbox"]:checked+label  {
    border-color: red;
  background-color:red;
}