.main{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task{
  width: 300px;
  background-color: lightblue;
  padding: 0 5px;
}

.task:hover{
  text-decoration: line-through;
  cursor: pointer;
  color: red;
}