*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {

    height: 100vh;
    background-color: rgba(128, 128, 128, 0.454);
    
} */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (200px,1fr));
    grid-template-rows: 20% 30% 50%;

    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(142, 207, 209, 0.7);
    border-radius: 12px;
    background-image: url(../Pics/sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    grid-column: span 3;
   
}
p{
    font-size: 20px;
}
.numbers{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.556);
    margin: 150px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    
}
.card{
    background-color: rgba(240, 255, 255, 0.615);
    margin: 10px;

    
}
#mid {
    position: relative;
    top: 50px;
}
#last {
    position: relative;
    top: 10px;
}
img{
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.67);
    border-radius: 50%;
}
  /* @media screen and (min-width: 600px) {
    .container
    { 
       background-image: url(../Pics/shoval.jpg);
    }
} */