.bg-image {
    background-image: url(../Pics/sunset.jpg); 
    background-size: 100% 100%;
    height: 50vh;
}
body{background-color: rgba(169, 169, 169, 0.531);}
.borders {
    /* border: 2px solid rebeccapurple; */
}