*{
    box-sizing: border-box;
}
h1,h2{
    margin: 10px 0;
}

.break_line::after{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: rgba(68, 63, 63, 0.7);
}
body {
    margin: 0;
    padding: 30px 0;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.454);
    
}

.container{
    display: flex;
    width: 65vw;
    height: 100%;
    margin: auto;
    background-color: rgba(142, 207, 209, 0.7);
    border-radius: 12px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 169, 223, 0.7);
    width: 30%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 3px 5px 0px #888888;
    
}
img{
    margin: 80px 0 35px 0;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
}
.name_profession{
    position: relative;
    padding: 0 5px;
    height: 170px;
}

.info{
    height: 150px;
    width: 100%;
    /* font-size: 1.1rem; */
    font-family: "Calibri", sans-serif;
}
.fa {
    padding: 20px;
    width: 50px;
    margin: 5px 2px;
    border-radius: 25px;
  }
  .fa-github {
    background: #f6f6f6ea;
    color: rgb(0, 0, 0);
    font-size:24px;
  }
  .fa-instagram {
    background: #b56782;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
}
.socials{
    display: flex;
    flex-direction: column;
    height: 170px;
    margin-top: 10px;
}

.main{
    width: 70%;
    padding: 10px 20px;
}
.h1_font{
    color: rgb(0, 0, 0); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 28px; 
    font-weight: bold; 
}
.profile {
    height: 100px;

}

.education {
    height: 200px;
    margin-top: 30px;
}
 

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2fr 1fr;
    height: 100px;
    padding-bottom: 10px;
    margin-top: 30px;
}
.skills>h1 {
    grid-column: 1/span 2;
}
.degree{
    margin: auto;
    padding-left: 30px;
}
.XP {
    height: 350px;
    margin-top: 30px;
}